<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1440, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/KBTU%20Logo%20(1).svg" alt="logo was not loaded correctly." />
    </div>
    <div class="navigation">
      <p><a id="homee" routerLink="/home">Home</a></p>
    </div>
  </div>
</header>
<div class="wrapper">
  <div class="content">
    <div class="student_information">
      <div class="section_name">
        <h1>Student Information</h1>
      </div>
      <ul class="student_information_list">
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>ID</p>
            <p>21B000000</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Login</p>
            <p>mc_lovin</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Last name</p>
            <p>Honolulu</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>First name</p>
            <p>McLovin</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Middle name</p>
            <p>Kazbekovich</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Birth date</p>
            <p>06.03.1991</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Sexual orientation</p>
            <p>Vertosexual</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Marital status</p>
            <p>Not married</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Nationality</p>
            <p>Jew</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Citizenship</p>
            <p>Banana Republic (Citizen)</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>E-mail</p>
            <p>mclovin@kbtu.kz</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Phone</p>
            <p>(708)-228-1337</p>
          </div>
        </li>
        <li class="student_info_row">
          <div class="_student_info_row">
            <p>Category</p>
            <p>Student</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="student_information_brief">
      <div class="student_photo">
        <img class="student_photo" src="assets/Rectangle%2062.jpg" alt="Student photo" />
      </div>
      <div class="student_application_info">
        <p class="student_faculty">FIT</p>
        <p class="student_specialty">Information Systems</p>
        <p class="student_appliction_date">2021</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
