<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1440, height=900, initial-scale=1.0" />
  <title>Index page</title>
  <link href="//db.onlinewebfonts.com/c/031da03967812d134ed68febd3ba78a9?family=GT+America" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<img id="KBTULogo" src="assets/KBTU%20Logo%20(1).svg" alt="asd">
<div id="container">
  <div id="navigation_header">
    <div class="image_logo">
      <img src="src/assets/KBTULogo.svg" alt="" />
    </div>
    <div class="account_info">
      <ul class="header_log_in">
        <li class="header_account">
          <a routerLink="/home/personalInfo" class="header_account_link">mclovin@kbtu.kz</a>
        </li>
        <li class="header_telephone">
          <a routerLink="/home/personalInfo" class="header_telephone_link">21B030228</a>
        </li>
      </ul>
      <div class="header_face">
        <a routerLink="/home/personalInfo" class="face">
          <img id="face" src="https://i.pinimg.com/474x/58/85/1a/58851a323f62ee2044a508275a516168.jpg" width="50px"/>
        </a>
      </div>
      <div class="header_exit">
        <img src="assets/Exit icon 1.svg" alt="" />
      </div>
    </div>
  </div>
  <div id="content">
    <div id="tools">
      <h1 class="content_section_header">Resources</h1>
      <div class="content_sections">
        <div class="tools_section left_tool_section">
          <ul class="tools_list">
            <li>
              <a routerLink="/home/schedule">
              <div class="tools_element">
                  <div class="element_image">
                    <img src="assets/ScheduleIcon.png" alt="" />
                  </div>
                  <div class="element_text">
                    <h3>Schedule</h3>
                    <p>View student schedule</p>
                  </div>
              </div>
              </a>
            </li>
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/GradeIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Journal</h3>
                  <p>View student grades</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/AttendanceIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Attendance</h3>
                  <p>Lesson attendance</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/AddDropIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Discipline add/drop</h3>
                  <p>Change disciplines</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/NoteIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Registratiion</h3>
                  <p>Registration requests</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tools_section right_tool_section">
          <ul class="tools_list">
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/FinancialOfficeIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Finances</h3>
                  <p>Student financial office</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/QuestionnaireIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Questionaire</h3>
                  <p>Data from respondents</p>
                </div>
              </div>
            </li>
            <li>
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/IcpIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>ICP</h3>
                  <p>Individual curriculum</p>
                </div>
              </div>
            </li>
            <li>
              <a routerLink="/home/personalInfo">
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/PrivateInfoIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>Private data</h3>
                  <p>Student information</p>
                </div>
              </div>
              </a>
            </li>
            <li>
              <a routerLink="/home/news">
              <div class="tools_element">
                <div class="element_image">
                  <img src="assets/NewsIcon.png" alt="" />
                </div>
                <div class="element_text">
                  <h3>News</h3>
                  <p>University news</p>
                </div>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="news">
      <h1 class="content_section_header">News</h1>
      <div class="content_sections">
        <ul>
          <div class="news_preview" id="martin">
            <div class="element_image">
              <img src="assets/marat.png" alt="" />
            </div>
            <div class="element_text">
              <h2>Young entrepreneur</h2>
              <p>First-year KBTU student raised millions on his game project.</p>
              <a routerLink="/home/news/1" class="more">More...</a>
              <h3>APRIL 22, 2022 22:56</h3>
            </div>
          </div>
          <div class="news_preview" id="university">
            <div class="element_image">
              <img src="assets/university img.png" alt="" />
            </div>
            <div class="element_text">
              <h2>We are number one</h2>
              <p>KBTU is in the top 50 universities in the world according to QS rankings</p>
              <a routerLink="/home/news/11" class="more">More...</a>
              <h3>APRIL 21, 2022 18:41</h3>
            </div>
          </div>
          <div class="news_preview" id="rus">
            <div class="element_image">
              <img src="assets/rus.png" alt="" />
            </div>
            <div class="element_text">
              <h2>Horoshoya glotka!</h2>
              <p>An unprecedented event for KBTU and Kazakhstan. Student of the FIT nominated for a Grammy!</p>
              <a routerLink="/home/news/10" class="more">More...</a>
              <h3>APRIL 20, 2022 16:32</h3>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
</body>
</html>

