/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ------------------------------------------------------- */

.module {
    --x: 0px;
    --y: 0px;
    /* background-image: url(https://images.unsplash.com/photo-1499162526249-f5b8b9ba9923?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=865bf5c0b77ceb22e88de9fd41c5a671); */
    background-image: url(/nav_bar/bgphoto.jpg);
    background-size: 110vw;
    background-position: var(--x) var(--y);
    background-repeat: no-repeat;
    /* width: 100vw;
    height: 100vh; */
    border: 1px solid white;
    z-index: 100;
}

.background-gradient {
    height: 100vh;
    width: 100vw;
    z-index: 102;
    background: linear-gradient(52.25deg, #282D3B 26.64%, rgba(28, 34, 51, 0.915704) 48.02%, rgba(35, 35, 37, 0.4) 62.78%, rgba(196, 196, 196, 0) 101.42%)
}
