/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of cssreset */

body {
    background: #242935;    
}



.header {
    padding: 10px 0 10px 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.logo {
    margin: 0 15px 15px 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.navigation p {
    color: #DAD9D9;
    font-size: 1.5rem;
    padding: 0 15px 0 15px;
}

.navigation p a {
    color: white;
}

/* Flex info might be redundant */
.wrapper {
    margin: 0 10% 0 10%;
    min-width: 70%;
    overflow: hidden;
    min-height: 80%;
    flex-direction: column;
    align-items: center;
}
.content {
    min-height: 80%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;

}

.student_information {
    width: 70%;
    background: #33394A;
    padding: 15px;
    height: 900px
}

.section_name {
    font-size: 2rem;
    color: white;
    margin: 15px 15px 15px 0;
}

.student_information_list {
    list-style-type: none;
    margin-top: 10%;
}

.student_info_row {
    border-bottom: 2px solid white;
    padding: 15px;
}

._student_info_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

._student_info_row p {
    color: white;
    font-size: 1.3rem;
    display: block;
    width: 30%;
}

._student_info_row > * {
    flex: 1 1 0;
}


.student_information_brief {
    width: 20%;
    color: white;

}

.student_photo {
    width: 89.5%;
}
.student_application_info {
    width: 80%;
    background: #33394A;
}
.student_faculty {
    display: block;
    font-size: 1.5rem;
    margin: 0 0 15px 0;
}

.student_specialty {
    display: block;
    font-size: 1.2rem;
    margin: 5px 0 15px 0;
}
