<img id="KBTULogo" src="assets/KBTU%20Logo%20(1).svg" alt="asd">
<div id="container">
  <div id="navigation_header">
    <a routerLink="/home">
      <h1 id="home">Home</h1>
    </a>
    <div class="account_info">
      <ul class="header_log_in">
        <li class="header_account">
          <a routerLink="/home/personalInfo" class="header_account_link">mclovin@kbtu.kz</a>
        </li>
        <li class="header_telephone">
          <a routerLink="/home/personalInfo" class="header_telephone_link">21B030228</a>
        </li>
      </ul>
      <div class="header_face">
        <a routerLink="/home/personalInfo" class="face">
          <img id="face" src="https://i.pinimg.com/474x/58/85/1a/58851a323f62ee2044a508275a516168.jpg" width="50px"/>
        </a>
      </div>
      <div class="header_exit">
        <img src="assets/Exit icon 1.svg" alt="" />
      </div>
    </div>
  </div>
<!--<div class="header">
  <img id="kbtu_logo" src="assets/KBTULogo.svg" width="170px">
  <div>
    <p id="mcloving">mcloving@kbtu.kz</p>
    <p id="B21">21B033228</p>
  </div>
  <div id="face">
  </div>
  <a routerLink="/home">
    <h1 id="home">Home</h1>
  </a>
  <img id="mcloving_image" src="https://i.pinimg.com/474x/58/85/1a/58851a323f62ee2044a508275a516168.jpg" width="50px">
  <img id="logout" src="/assets/Exit%20icon.png">
  <hr id="line">
</div>-->
